doctype html
html
  include inc/head
  body
    textarea#source
      include ../slides/a-title.md
      include ../slides/b-agenda.md
      include ../slides/c-what-is.md
      include ../slides/z-questions.md
      include ../slides/x-workshop.md
    include inc/scripts
