head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title="Introduction to Kubernetes"
  meta(name="description" content="Introduction to Kubernetes")
  meta(name="author" content="Adam Narkunski")
  link(rel="stylesheet", href="css/main.css")
  link(rel="shortcut icon" type="image/x-icon" href="https://kubernetes.io/images/favicon.png")
